version: "3.9"

services:
  api:
    container_name: api-dev
    build:
      context: ./Api
      dockerfile: Dockerfile
      target: dev
    ports:
      - "5202:5202"
    volumes:
      - ./Api:/src
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      Redis__Configuration: "redis:6379"  # Connection string to Redis
    depends_on:
      - redis
    networks:
      - app-network
    command: ["dotnet", "watch", "run", "--project", "Api.csproj", "--urls", "http://0.0.0.0:5202"]

  # ui:
  #   container_name: ui-dev
  #   build:
  #     context: ./Ui
  #     dockerfile: Dockerfile
  #   ports:
  #     - "4200:4200"
  #   volumes:
  #     - ./Ui:/app
  #     - /app/node_modules
  #   networks:
  #     - app-network
  #   command: >
  #    /bin/sh -c "rm -rf /app/node_modules && npm install --legacy-peer-deps && ng serve --host 0.0.0.0"
    
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    networks:
      - app-network
networks:
  app-network:
      driver: bridge