.story {
  padding: 10px;
  margin-bottom: 10px;

  &:hover {
    background: whitesmoke;
  }
}


header{
  width: 100%;
  display: block;
  background: whitesmoke;
  border-bottom: 2px solid whitesmoke;
  padding: 20px 0px;
  margin-bottom: 20px;
}


.app-title{
  font-weight: bold;
  font-size: large;
  text-decoration: none;
}


.pagination-button{
  padding: 30px;
}
